<!DOCTYPE html>
<html>
    <head>
<title>
<h1>app</h1>
</title>
<link rel='stylesheet' href="./css/styles.css">
<script src="/js/app.js"></script>
    </head>
<body>
    <div class="main-content">
    {{>header}}
    <p>use this site to get weather</p>
    <form>
        <input placeholder=" type ur location here  ">
        <button>Search</button>
    </form>
    </div>

      {{>footer}}
<h1>{{title}}</h1>
</body>
    </html>